<!DOCTYPE html>
<html lang = "en">
	<head>
        {% block metas %}
		<meta charset = "UTF-8"/>
		<meta name="description" content="The Pitcher">
		<meta name="author" content="Hannes Kimara">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock metas%}
        <title>{{title}}</title>
        {% block styles %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock styles%}
    </head>
<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}
</body>
</html>