<nav class = "navbar navbar-expand-md navbar-light pa-navbar">
    <a class="navbar-brand" href="/">Pitch</a>
    <button type = "button" class = "navbar-toggler ml-auto" data-toggle = "collapse" data-target = "#na-nav" style = "outline:none;border:none">
        <span class = ""><i class="fas fa-bars"></i></span>
    </button>
    <div class = "collapse navbar-collapse" id = "na-nav">
        <ul class = "navbar-nav ml-auto">
            <li class = "nav-item"><a href = "/" class = "nav-link">HOME</a></li>
            <li class = "nav-item"><a href = "/pitch/category/General" class = "nav-link">GENERAL</a></li>
            <li class = "nav-item"><a href = "/pitch/category/Promotion" class = "nav-link">PROMOTION</a></li>
            <li class = "nav-item"><a href = "/pitch/category/Interview" class = "nav-link">INTERVIEW</a></li>
            <li class = "nav-item"><a href = "/pitch/category/Product" class = "nav-link">PRODUCT</a></li>
        </ul>
            {% if current_user.is_authenticated %}
            <div class="dropdown show">
                <a class="dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 {{ current_user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{{url_for('main.profile', username = current_user.username)}}">Profile</a>
                  <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
                </div>
              </div>
            {% else %}
                <a href="{{url_for('auth.login')}}">Sign in</a>
            {%endif%}
    </div>
</nav>