{% extends 'base.html' %}
{% block content %}
    <div class = "container-fluid">
        <div class = "row">
        <div class = "col-md-3"></div>
        <div class = "col-md-6">
        {% if pitches %}
        
            {% for pitch in pitches%}
                <div class = "card">
                    <div class = "container-fluid p-3">
                        <blockquote class="blockquote pt-2">
                            <p class="mb-0">{{pitch.content}}</p>
                            <footer class="blockquote-footer">{{pitch.user.username}}</cite></footer>
                          </blockquote>
                        <p><a href = "/pitch/view/{{pitch.pitch_id}}">View</a></p>
                    </div>
                </div>
                <br>
            {% endfor %}
            <div class = "container text-center">
                <a href = '{{url_for("main.newpitch")}}' class = "btn btn-dark">POST A NEW PITCH</a>
            </div>
        {% else %}
        <div id = "pa-no-pitch">
            <div class = "na-fof">
                <p>There were no pitches</p>
                <a href = '{{url_for("main.newpitch")}}' class = "btn btn-dark">POST A PITCH</a>
            </div>
        </div>
        {% endif %}
        </div>
        <div class = "col-md-3"></div>
        </div>
            
    </div>
{% endblock content %}