{% extends 'base.html' %}
{% block content %}
    <div class = "container-fluid">
        <div class = "card">
            <div class = "container-fluid">
                <p class = "p-1 pt-3">Username : {{user.username}}<br>Email : {{user.email}}</p>
            </div>
        </div>
    </div>
    <div class = "container-fluid mt-3">
        <h3 class="display-6">User Pitches : </h3>
        <div class = "card">
            <div class = "container-fluid">
                {% for pitch in pitches %}
                <blockquote class="blockquote pt-2">
                    <p class="mb-0">{{pitch.content}}</p>
                    <footer class="blockquote-footer">{{pitch.user.username}}</cite></footer>
                  </blockquote>
                {% endfor %}
                </div>
        </div>
{% endblock content %}